#baner {
    color: white;
    text-align: center;
    height: 370px;
}

#mecze {
    color: white;
    text-align: center;

}

#main {
    background-color: whitesmoke;
    height: 50px;
}

#left {
    background-color: whitesmoke;
    width: 70%;
    height: 230px;
    float: left;
}

#right {
    background-color: whitesmoke;
    width: 30%;
    height: 230px;
    text-align: right;
    float: left;
}

body {
    font-family: Tahoma, sans-serif;
    background-color: crimson;
}

h2 {
    text-align: center;

}
